#number {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	font-size: 25pt;
	margin-top: 2%;
	margin-left: 47%;
}

body {
	cursor: url(../blue.png), auto;
}

.column {
	float: left;
	width: 44%;
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.heads {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
}
#title {
	font-size: 65pt;
	line-height: 100%;
}
#title:hover {
	opacity: 15%;
}
#title:hover + #titlelight {
	opacity: 100%;
}

#sub {
	margin-top: 3%;
	font-size: 40pt;
}
#sub:hover {
	opacity: 15%;
}
#sub:hover #sublight {
	opacity: 100%;
}

#info {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 25pt;
}
#info:hover {
	opacity: 15%;
}
#info:hover #infolight {
	opacity: 100%;
}

#titlelight {
	font-size: 65pt;
	line-height: 100%;
	opacity: 15%;
}
#sublight {
	margin-top: 3%;
	font-size: 40pt;
	opacity: 15%;
}
#infolight {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 25pt;
	opacity: 15%;
}

.main {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	font-size: 15pt;
}
#line1:hover{
	opacity: 15%;
}
#line2:hover{
	opacity: 15%;
}
#line3:hover{
	opacity: 15%;
}
#line4:hover{
	opacity: 15%;
}
#line5:hover{
	opacity: 15%;
}
#line6:hover{
	opacity: 15%;
}
#line7:hover{
	opacity: 15%;
}
#line8:hover{
	opacity: 15%;
}
#line9:hover{
	opacity: 15%;
}
#line10:hover{
	opacity: 15%;
}
#line11:hover{
	opacity: 15%;
}
#line12:hover{
	opacity: 15%;
}
#line13:hover{
	opacity: 15%;
}
#line14:hover{
	opacity: 15%;
}
#line15:hover{
	opacity: 15%;
}
#line16:hover{
	opacity: 15%;
}
#line17:hover{
	opacity: 15%;
}

.mainlight {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	font-size: 15pt;
}


#back {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	opacity: 15%;
	font-size: 15pt;
	float: left;
}
#back:hover {
	opacity: 100%;
}
#next {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	opacity: 15%;
	font-size: 15pt;
	margin-left: 97%;
	float: left;
}
#next:hover {
	opacity: 100%;
}

#back {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	opacity: 15%;
	font-size: 25pt;
	float: left;
}
#back:hover {
	opacity: 100%;
}
#next {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	opacity: 25%;
	margin-left: 95%;
	font-size: 25pt;
	float: left;
}
#next:hover {
	opacity: 100%;
}

#line1light {
	opacity: 15%;
}
#line2light {
	opacity: 15%;
}
#line3light {
	opacity: 15%;
}
#line4light {
	opacity: 15%;
}
#line5light {
	opacity: 15%;
}
#line6light {
	opacity: 15%;
}
#line7light {
	opacity: 15%;
}
#line8light {
	opacity: 15%;
}
#line9light {
	opacity: 15%;
}
#line10light {
	opacity: 15%;
}
#line11light {
	opacity: 15%;
}
#line12light {
	opacity: 15%;
}
#line13light {
	opacity: 15%;
}
#line14light {
	opacity: 15%;
}
#line15light {
	opacity: 15%;
}
#line16light {
	opacity: 15%;
}
#line17light {
	opacity: 15%;
}