body {
	cursor: url(blue.png), auto;
}


.column {
	float: left;
	width: 44%;
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.light {
	opacity: 100%;
}

.heads {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
}
#title {
	font-size: 65pt;
	line-height: 100%;
}
#title:hover {
	opacity: 15%;
}

#sub {
	margin-top: 3%;
	font-size: 40pt;
}
#sub:hover {
	opacity: 15%;
}

#info {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 25pt;
}
#info:hover {
	opacity: 15%;
}

#titlelight {
	font-size: 65pt;
	line-height: 100%;
	opacity: 15%;
}
#sublight {
	margin-top: 3%;
	font-size: 40pt;
	opacity: 15%;
}
#infolight {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 25pt;
	opacity: 15%;
}

.main {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	font-size: 15pt;
}


#line1:hover{
	opacity: 15%;
}
#line2:hover{
	opacity: 15%;
}
#line3:hover{
	opacity: 15%;
}
#line4:hover{
	opacity: 15%;
}
#line5:hover{
	opacity: 15%;
}
#line6:hover{
	opacity: 15%;
}
#line7:hover{
	opacity: 15%;
}
#line8:hover{
	opacity: 15%;
}
#line9:hover{
	opacity: 15%;
}
#line10:hover{
	opacity: 15%;
}
#line11:hover{
	opacity: 15%;
}
#line12:hover{
	opacity: 15%;
}
#line13:hover{
	opacity: 15%;
}
#line14:hover{
	opacity: 15%;
}
#line15:hover{
	opacity: 15%;
}
#line16:hover{
	opacity: 15%;
}
#line17:hover{
	opacity: 15%;
}
#line18:hover{
	opacity: 15%;
}
#line19:hover{
	opacity: 15%;
}
.mainlight {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	font-size: 15pt;
}

#next {
	font-family: forma-djr-deck, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #2457BA;
	opacity: 15%;
	margin-left: 95%;
	font-size: 25pt;
	float: left;
}
#next:hover {
	opacity: 100%;
	cursor: url(blue.png), auto;
}

#line1light {
	opacity: 15%;
}
#line2light {
	opacity: 15%;
}
#line3light {
	opacity: 15%;
}
#line4light {
	opacity: 15%;
}
#line5light {
	opacity: 15%;
}
#line6light {
	opacity: 15%;
}
#line7light {
	opacity: 15%;
}
#line8light {
	opacity: 15%;
}
#line9light {
	opacity: 15%;
}
#line10light {
	opacity: 15%;
}
#line11light {
	opacity: 15%;
}
#line12light {
	opacity: 15%;
}
#line13light {
	opacity: 15%;
}
#line14light {
	opacity: 15%;
}
#line15light {
	opacity: 15%;
}
#line16light {
	opacity: 15%;
}
#line17light {
	opacity: 15%;
}
#line18light {
	opacity: 15%;
}
#line19light {
	opacity: 15%;
}


@media only screen and (max-width: 600px) {

.column {
	position: absolute;
	width: 100%;
}

.heads {
	opacity: 15%;
	z-index: 1;
}

#info {
	opacity: 15%;
	z-index: 1;
}

#titlelight {
	opacity: 0%;
	z-index: -1;
}
#sublight {
	opacity: 0%;
	z-index: -1;
}
#infolight {
	opacity: 0%;
	z-index: -1;
}

.main {
	opacity: 15%;
	z-index: 1;
}
.mainlight {
	opacity: 0%;
	z-index: -1;
}
#next {
	opacity: 100%;
	margin-left: 80%;
}

#title:click {
	opacity: 0%;
}
#sub:click {
	opacity: 0%;
}
#info:click {
	opacity: 0%;
}

#line1:click{
	opacity: 0%;
}
#line2:click{
	opacity: 0%;
}
#line3:click{
	opacity: 0%;
}
#line4:click{
	opacity: 0%;
}
#line5:click{
	opacity: 0%;
}
#line6:click{
	opacity: 0%;
}
#line7:click{
	opacity: 0%;
}
#line8:click{
	opacity: 0%;
}
#line9:click{
	opacity: 0%;
}
#line10:click{
	opacity: 0%;
}
#line11:click{
	opacity: 0%;
}
#line12:click{
	opacity: 0%;
}
#line13:click{
	opacity: 0%;
}
#line14:click{
	opacity: 0%;
}
#line15:click{
	opacity: 0%;
}
#line16:click{
	opacity: 0%;
}
#line17:click{
	opacity: 0%;
}
#line18:click{
	opacity: 0%;
}
#line19:click{
	opacity: 0%;
}

}


