@media only screen and (max-width: 1024px) {

body{
	margin: 10%;
	background-color: #ffffe0;
	max-width: 80%;
}
h1{
	color: #efcc00;
}
h2{
	color: #efcc00;
}
h4{
	color: #efcc00;
}
#img {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
}


}

@media only screen and (max-width: 768px) {

body{
	margin: 5%;
	background-color: #F5DEB3;
	max-width: 80%;
	text-align: justify;
	color: #8B0000;
	font-family: quasimoda, sans-serif;
	font-weight: 300;
	font-style: normal;
}
h1{
	color: #8B0000;
}
h2{
	color: #8B0000;
	line-height: 120%;
}
h4{
	color: #8B0000;
}
hr {
	color: #8B0000;
}
#img {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
}

}

@media only screen and (max-width: 480px) {

body{
	margin: 2%;
	background-color: #ffffe0;
	max-width: 80%;
	text-align: justify;
	color: #556B2F;
}
h1{
	color: #556B2F;
	font-family: farmhand, serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2.5px;
}
h2{
	color: #556B2F;
	font-family: farmhand, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15pt;
	letter-spacing: .5px;
}
h4{
	color: #556B2F;
	font-family: farmhand, serif;
	font-weight: 400;
	font-style: normal;
}
#img {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
}

}	