body {
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#title {
	font-size: 70pt;
	font-family: dolly-new, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #c5ccd2;
	width: 80%;
	min-width: 40px;
	max-width: 800px;
	background: rgba(0, 0, 0, 0.5)
}

#sub {
	font-size: 40pt;
	font-family: dolly-new, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #c5ccd2;
	width: 80%;
	min-width: 40px;
	max-width: 800px;
	background: rgba(0, 0, 0, 0.5)
}
.body{
	font-size: 20pt;
	font-family: dolly-new, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #c5ccd2;
	width: 80%;
	min-width: 40px;
	max-width: 800px;
	background: rgba(0, 0, 0, 0.5)
}
